{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="intro">
	<div class="intro-body">
		<br>
		<br>
		<br>
		<div class="container title-container text-center">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1 class="brand-heading">This can be a whole different page</h1>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Like, some sort of signup page or something</h2>
			<p>
				<b>Go crazy with it<br></b>
			</p>
            Or <a href="/">go back</a>.<br><br><br><br>
		</div>
	</div>
</section>

{% endblock %}
